@import '/theme.css';

* {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

body {
  margin-top: 25px;
}

button {
  font-size: 1.5em;
  border-radius: 22px;
  padding: 10px;
  margin: 15px;
  transition: 0.2s;
  border: 2px solid;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.05);
}

.loader {
  border: 16px solid var(--secondary-content-text-color);
  border-top: 16px solid var(--content-bg-color);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#invalidContainer {
  display: none;
}

#thanksForUsingThis {
  display: none;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#thanksForUsingThis > a {
  font-size: 1.5em;
  border-radius: 22px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  transition: 0.2s;
  border: 2px solid;
  text-decoration: none;
  display: block;
  max-width: 300px;
  width: 75vw;
}

#thanksForUsingThis > a:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.05);
}

#bingoContainer {
  display: none;
}

#askForNameContainer {
  margin: auto;
  margin-top: 10vh;
  max-width: 750px;
  width: 70vw;
  padding: 25px;
  border-radius: 22px;
}

#askForNameContainer > h2 {
  margin-top: 15px;
}

#askForNameContainer > h3 {
  font-weight: normal;
}

#name {
  font-size: 1.3em;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  padding: 15px 20px;
  border-radius: 22px 22px 0px 0px;
}

#cardContainer {
  display: none;
  margin: auto;
  padding-top: 20px;
  min-height: 60vh;
  border-radius: 12px;
}

/* For mobile */
@media only screen and (max-width: 550px) {
  #cardContainer {
    width: 97vw;
  }

  #bingo {
    width: 100%;
  }
}

/* For laptop/PC/wide screens */
@media only screen and (min-width: 550px) {
  #cardContainer {
    width: 60vw;
    padding-bottom: 30px;
  }

  #bingo {
    width: 70%;
  }
}

#bingo {
  margin: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#bingo td {
  width: 20%;
  position: relative;
  transition: 0.3s;
}

#bingo td:hover {
  filter: brightness(110%);
  border: 1px solid;
}

#bingo td.selected {
  filter: brightness(125%);
}

#bingo td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

#bingo td .content {
  padding: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#bingo td .content > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: anywhere;
  hyphens: auto;
}

.footer {
  display: block;
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
}

.footer-text-left {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding-left: 10px;
  padding-top: 20px;
  float: left;
}

.footer-content-right {
  padding-right: 10px;
  margin-top: 20px;
  float:right;
}

.icon-style {
  height: 40px;
  margin-left: 20px;
  margin-top: 5px;
  transition: 0.4s;
}

.icon-style:hover {
  height: 55px;
}